.partners {
  padding: 72px 0 36px;

  &__list {
    margin: 0 auto;
    max-width: 1180px;

    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-img {
    opacity: 0.5;
    transition: opacity .3s;
    &:hover {
      opacity: 1;
    }
  }

}

