$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;


%opensans-300 {
	font-family: 'OpenSans', sans-serif;
	font-weight: 300;
}

%opensans-400 {
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
}

%opensans-600 {
	font-family: 'OpenSans', sans-serif;
	font-weight: 600;
}

%opensans-700 {
	font-family: 'OpenSans', sans-serif;
	font-weight: 700;
}

%ruda-400 {
	font-family: 'Ruda', sans-serif;
	font-weight: 400;
}

%ruda-600 {
	font-family: 'Ruda', sans-serif;
	font-weight: 600;
}

%ruda-700 {
	font-family: 'Ruda', sans-serif;
	font-weight: 700;
}

%ruda-900 {
	font-family: 'Ruda', sans-serif;
  font-weight: 900;
}

%bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

%transform {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


%checkbox-hidden,
%radio-hidden {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
}